/* ------------------------------
 slideshow
 * ----------------------------- */

slideshow { opacity:0; display: block; margin:20px;
  .frame {
    display: none;
  }
  slide{position: relative; display: none;
    &:first-child{
      display: block;
    }
  }
}
slide{ display:block;}

.word{ display:inline-block; }

.Slideshow_start{ transition-duration: 3s; transition-property: opacity; display: block; opacity: 1; }

.hideShow{
  opacity: 1; }
.hideShow { -webkit-transition:all linear 0.5s; transition:all linear 0.5s; }
.hideShow.ng-hide{ opacity: 0; }
