.ah-background{
    
    z-index: -1;
    --foreground-gradient-start: #3b6b97;
    --foreground-gradient-end: #002142;

    --background-gradient-start: #cf2c37;
    --background-gradient-end: #7a060e;

    --progress:0;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ah-background--outer-wrapper{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ah-background--foreground-gradient{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: radial-gradient(circle 80vw at 100% 120%,var(--foreground-gradient-start) 0%, var(--foreground-gradient-end) 100%);
    opacity: calc(1 - var(--progress));
}

.ah-background--background-gradient{
    background-image: radial-gradient(circle 80vw at 100% 120%, var(--background-gradient-start) 0%, var(--background-gradient-end) 100%);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ah-background--inner-wrapper svg{
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    animation: 30s roll alternate infinite linear;
}

.ah-background--inner-wrapper{
    overflow: hidden;
    background-image: radial-gradient(circle at 0px 0px, #ffffff 0%,rgba(255,255,255,0) 50%),
                      radial-gradient(circle 40vw at center right, #ffffff 0%,rgba(255,255,255,0) 100%),
                      radial-gradient(circle 200px at 0 100%, #ffffff 30%,rgba(255,255,255,0) 100%),
                      radial-gradient(circle 50px at 30vw 90vh, #ffffff 30%,rgba(255,255,255,0) 100%),
                      radial-gradient(circle 60px at 80% 80%, #ffffff 40%,rgba(255,255,255,0) 100%);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ah-twinkle{
    background-image: radial-gradient(circle at center, #ffffff 50%,rgba(255,255,255,0) 100%);
    position: absolute;
    animation: 5s twinkle infinite alternate;
}

#ah-background--svg-foreground-gradient stop.start{
    stop-color: var(--foreground-gradient-start);
}

#ah-background--svg-foreground-gradient stop.end{
    stop-color: var(--foreground-gradient-end);
}

#ah-background--svg-background-gradient stop.start{
    stop-color: var(--background-gradient-start);
}

#ah-background--svg-background-gradient stop.end{
    stop-color: var(--background-gradient-end);
}

.ah-background--bg-rect{
    fill-opacity: 1
}

.ah-background--fg-rect{
    fill-opacity: calc(1 - var(--progress));
}

#ah-background--svg-gradient2 stop.start{
    stop-color: #fff;
}

#ah-background--svg-gradient2 stop.end{
    stop-color: #000;
}

.ah-twinkle--pos-right-upper{
    top:0;
    right:0;
    width: 200px;
    height: 200px;
}

.ah-twinkle--pos-middle{
    top:50%;
    right:50%;
    width: 100px;
    height: 100px;
}

.ah-twinkle--pos-top-middle{
    top:0%;
    right:50%;
    width: 150px;
    height: 150px;
}

.ah-twinkle--pos-lower-left{
    top:80%;
    left:10%;
    width: 150px;
    height: 150px;
}

@keyframes twinkle {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

@keyframes roll {
    0% {
        top: 0%;
        left: 0%;
    }

    33% {
        top: -5%;
        left: -20%;
    }

    66% {
        top: -20%;
        left: -5%;
    }

    100%{
        top: 0%;
        left: 0%;
    }
}