@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

/* Resets */
h1, h2, h3, p, li, ul{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
li{ list-style: none; }

html{
    background-color: #00244b;
}

body{
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    color: #ecf5ff;
}


.L-center{
    margin-left: auto;
    margin-right: auto;
}

.L-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.L-full{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.L-crop-center{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.L-crop-center > *{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.L-pad10{
    padding: 20px;
}

.L-flex-column{
    display: flex;
    flex-direction: column;
}

.L-flex-1{
    flex:1;
}

@keyframes pulse{
    0%{
        transform: scale3d(0.6, 0.6, 0.6);
    }
    100%{
        transform: scale3d(1, 1, 1);
    }
}

.Typo-ul li{
    margin-bottom: 15px;
    padding-left: 35px;
    line-height: 1.4rem;
    letter-spacing: -.5px;
    list-style: none;
    background: url('./icons/list-point.svg') no-repeat 0px 5px;
}