[class*="Typo-"]{
    font-family: "Rubik", sans-serif;
    color: rgb(236, 245, 255);
    line-height: 22px;
}

.Typo-ul li{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.5px;
    list-style: none;
    background: url('./icons/list-point.svg') no-repeat 0px 5px;
}

.Typo-header{
    line-height: 18px;
    margin: 20px 0;
}

.Typo-centered{
    text-align: center;
}

.Typo-sub-header{
    line-height: 18px;
}

.Typo-para{
    font-size: 20px;
    letter-spacing: -.5px;
}
