.ah-cropper{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    position: absolute;
    top:0;left:0;right:0;bottom:0;
}

.ah-cropper__panning > *{
    animation: panning 30s alternate infinite linear;
}

.ah-cropper__zooming > *{
    animation: zooming 20s alternate infinite linear;
}

@keyframes panning {
    0%{
        transform: scale(1) translateX(0);
    }
    25%{
        transform: scale(1.2) translateX(-10%);
    }
    50%{
        transform: scale(1.25) translateX(0);
    }
    75%{
        transform: scale(1.2) translateX(10%);
    }
    100%{
        transform: scale(1) translateX(0);
    }
}

@keyframes zooming {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}