@import '../bower_components/staggolee/AbstractLayout';
@import '../texticon/texticon';

.Profile.L-small{

}

.Profile{ @extend %L-hbox; @extend %L-hbox-sep25; }
.Profile-link-container{ @extend %L-hbox; @extend %L-hbox-sep10; }
.Profile-link{ @extend %L-hbox-1; }
.Profile-photo{  }
.Profile-description{ @extend %L-hbox-3; @extend %L-vbox-10; }
.Profile-photo-container{ @extend %L-hbox-1; }

@media (max-width: 480px){
  .Profile{
    display:block;
  }
  .Profile-link-container{ display:block; &>*{margin: 0; margin-bottom: 10px;  } }
  .Profile-photo-container{
    display:none;
  }
}