@import "../css/bourbon/bourbon";

#work .meta {
  padding: 30px;
}
#work .meta .description h1 {
  margin: 0;
  font-size: 150%;
}
#work .meta .description h1 p {
  display: inline;
  color: #999;
}
#work .toggle-trigger:hover {
  @include transition(all 0.2s ease-out);
}
#work .toggle-trigger:hover .icon.minimize {
  background: url(../img/sprite.png) no-repeat -404px -90px;
  width: 18px;
  height: 9px;
}
#work .toggle-trigger:active .icon.minimize {
  background: url(../img/sprite.png) no-repeat -378px -90px;
  width: 18px;
  height: 9px;
}
#work .link-container:hover {
  @include transition(all 0.2s ease-out);
  color: #666;
}
#work .link-container:hover .icon.link {
  background: url(../img/sprite.png) no-repeat -554px -47px;
  height: 31px;
  width: 32px;
}
#work .link-container:hover .icon.down-arrow {
  background: url(../img/sprite.png) no-repeat -434px -91px;
  height: 21px;
  width: 43px;
}
#work .link-container:active .icon.link {
  background: url(../img/sprite.png) no-repeat -430px -10px;
  height: 31px;
  width: 32px;
}
#work .link-container:active .icon.down-arrow {
  background: url(../img/sprite.png) no-repeat -366px -17px;
  height: 21px;
  width: 43px;
}
#work .expanded-view {
  padding: 30px;
}
#work .expanded-view h2:first-child {
  margin-top: 0px;
}
#work .expanded-view .toggle-trigger {
  float: right;
  cursor: pointer;
}
#work .expanded-view .content.margins {
  padding: 10px 20px;
}
#work .expanded-view .story {
  font-size: 14px;
}
#work .expanded-view .story img {
  border: 10px solid white;
}
#work .expanded-view .story li {
  margin-left: 40px;
  list-style: square;
  margin-bottom: 5px;
}
#work .expanded-view h2 {
  margin-bottom: 3px;
  font-size: 32px;
  color: #3399df;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
#work .expanded-view .section {
  font-size: 80%;
  margin-bottom: 30px;
}
#work .expanded-view .section.caption p {
  display: inline;
}
#work .expanded-view .section h3 {
  font-size: 24px;
  color: #999;
}
#work .expanded-view .icon-list {
  padding: 10px;
  color: #999;
  font-size: 11px;
}
#work .expanded-view .icon-list.role li.tag {
  margin: 19px;
  height: 30px;
}
#work .expanded-view .icon-list .label {
  text-align: center;
  margin-top: 4px;
}
#work .expanded-view .icon-list li.tag {
  float: left;
  margin: 15px;
  /* Slight corrections to align logos */
}
#work .expanded-view .icon-list li.tag.jquery {
  margin-top: 19px;
}
#work .expanded-view .icon-list li.tag.html5 {
  margin-top: 19px;
}
#work .expanded-view .icon-list li.tag.flex {
  margin-top: 16px;
}
#work .expanded-view .icon-list li.tag.code {
  margin-top: 22px;
}
#work .links {
  color: #999999;
  margin-top: 10px;
  font-size: 85%;
}
#work .links .toggle-trigger:hover {
  cursor: pointer;
  color: #666666;
}
#work .links .link-container {
  cursor: pointer;
  width: 50px;
  text-align: center;
  height: 60px;
  position: relative;
  float: right;
  margin-right: 0px;
}
#work .links .link-container:first-child {
  margin-left: 60px;
}
#work .links .link-container .expand {
  margin-top: 9px;
}
#work .links .link-container .label {
  width: 100%;
  margin: 0 auto;
  display: inline;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 480px){
  #work .meta .description h1 {
    font-size: 18px;
  }
  .Portfolio-description{ font-size: 18px; }

}
