.ah-clip-player{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    overflow: hidden;
}

.ah-clip-player video{
    max-width: 1000px;
}

.ah-clip-player--button{
    transition: all 0.5s;
    border:0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}

.ah-clip-player--button:hover{
    transform: scale(1.5);
    opacity: 1;
}

.ah-clip-player--button-triangle{
    fill: white;
}

.ah-clip-player--player-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.ah-clip-player--player-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ah-clip-player--button-container{
    position: absolute;
    top:0;left:0;right:0;bottom:0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ah-clip-player--align-top video{
    position:absolute;
    top:0;
}

.ah-clip-player--button svg{
    filter: drop-shadow( -3px -1px 12px rgba(0,0,0,.8) );
}