.ah-animations--hidden{
    opacity: 0;
}


@keyframes wave{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-25deg);
    }

    75%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes fadeIn{
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    
    100%{
        transform: translateY(-20%);
        opacity: 0;
    }
}

@keyframes lift{
    0%{
        transform: translateY(0);
    }
    
    100%{
        transform: translateY(-50%);
    }
}

@keyframes float{
    0%{ 
        transform: translateY(0%);
    }
    100%{
        
        transform: translateY(-15%);
    }
}

@keyframes topLeft{
    0%{ 
        transform: translate3d(0, 0, 0), scale(1);
    }
    100%{
        transform: translate3d(-100%, -100%, 0) scale(0.3);
    }
}

@keyframes topCenter{
    0%{ 
        transform: translate3d(0, 0, 0), scale(1);
    }
    100%{
        transform: translate3d(0, -100%, 0) scale(0.3);
    }
}

@keyframes topRight{
    0%{ 
        transform: translate3d(0, 0, 0), scale(1);
    }
    100%{
        transform: translate3d(100%, -100%, 0) scale(0.3);
    }
}

@keyframes bottomMiddle{
    0%{
        transform: inherit;
    }
    100%{
        transform: translate3d(0, 0, 0), scale(1);
    }
}

div.ah-animations--bottom-middle{
    animation: bottomMiddle;
    animation-fill-mode: forwards;
}

.ah-animations--top-center{
    animation: topCenter;
    animation-fill-mode: forwards;
}

.ah-animations--top-left{
    animation: topLeft;
    animation-fill-mode: forwards;
}

.ah-animations--float{
    animation:float 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.ah-animations--lift{
    animation:lift;
    animation-fill-mode: forwards;
}

.ah-animations--fade-in{
    animation:fadeIn;
    animation-fill-mode: forwards;
}

.ah-animations--wave{
    transform-origin: 90% 95%;
    animation: wave;
    animation-fill-mode: forwards;
}

.ah-animations--fade-out{
    animation: fadeOut;
    animation-fill-mode: forwards;
}
