.ah-skills-abilities{
    margin-top: 10px;
}

.ah-skills-abilities .ah-icon-container{
    flex: 1;
}

.ah-skills-abilities .ah-portfolio--text-wrapper{
    padding: 0px 20px;
}

.ah-skills-abilities .ah-portfolio--text-wrapper{
    padding-bottom: 0;
}

.ah-skills-abilities .ah-skills{
    flex: 1;
    display: flex;
    align-items: center;
}

.ah-skills-abilities .ah-skills ul{
    width: 100%;
}

.ah-skills-abilities--experience{
    flex-basis: 120px;
}

.ah-skills-abilities .ah-icon-container{
    padding: 20px 0;
}

.ah-skills-abilities .ah-skills{
    padding: 20px 0;
}

@media (max-height:700px){
    .ah-skills-abilities .ah-skills-abilities--strengths .ah-icon svg,
    .ah-skills-abilities .ah-skills-abilities--motivation .ah-icon svg{
        width: 55px;
    }
}