.ah-portfolio--whoami h1{
    margin-bottom: 10px;
}

.ah-portfolio--whoami p{
    line-height: 1.4em;
}

.ah-portfolio--quote-section{
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
}

.ah-portfolio--whoami .ah-portfolio--page{
    background-image: linear-gradient(#002142, #254B71);
}

.ah-portfolio--whoami p + p{
    margin-top: 20px;
}

.ah-portfolio--whoami .ah-tech-icon label{
    color: #fff;
    font-size: 0.7rem;
}

.ah-portfolio--whoami .ah-tech-icon--img-wrapper{
    margin-bottom: 5px;
}

.ah-portfolio--whoami .ah-portfolio--logo{
    width: 150px;
}

.ah-portfolio--whoami .ah-portfolio-big--inner-wrapper .ah-portfolio--logo{
    width: 200px;
}

.ah-whoami--contact-list li{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.ah-whoami--contact-list li:last-child{
    margin-bottom:0;
}

.ah-portfolio--whoami a{
    color: white;
}
 
.ah-whoami--contact-list .ah-icon{
    margin-right: 10px;
}

.ah-portfolio-big--pages .ah-portfolio--page{
    background: none;
}

.ah-portfolio--whoami .ah-portfolio--inner-wrapper{
    background-color: rgba(0,0,0,0.3);
}

.ah-portfolio-big .ah-skills-abilities .ah-portfolio--text-wrapper{
    display: block;
}


/** 
* Big Portfolio Customizations
*/
.ah-portfolio--whoami .ah-portfolio-big--inner-wrapper{
    background-color: rgba(0,0,0,.3);
}

.ah-portfolio--whoami .ah-portfolio-big--pages{
    background-image: linear-gradient(#002142, #254B71);
}

.ah-portfolio--quantic-mind.ah-portfolio-big .ah-slide-page__panning{
    
}