.ah-portfolio-big{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}


/**
 * When the splash page is removed we the portfolio 
 * expand to full height 
 */
 .ah-portfolio-big.ah-portfolio-big__opened{
    overflow: visible;
    height: initial;
}

/**
 * Splash page is nested inside .ah-portfolio-big
 * and should cover the whole screen
 */
.ah-portfolio-big--splash-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}


/**
 * Override the position absolute of the sub pages 
 */
.ah-portfolio-big .ah-portfolio--page{
    position: static;
}

.ah-portfolio-big--inner-splash{
    text-align: center;
    margin-bottom: 150px;
    padding-top: 150px;
}

.ah-portfolio-big .ah-portfolio--splash-page > img{
    transition: transform 0.5s ease-in-out;
}

.ah-portfolio-big .ah-portfolio--splash-page > img:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.ah-portfolio-big--inner-wrapper{
    display: none;
    padding-bottom: 100px;
}

.ah-portfolio-big__open .ah-portfolio-big--inner-wrapper{
    display: block;
}

.ah-portfolio-big--inner-splash img{
    max-width: 500px;
}

.ah-portfolio-big--pages {
    
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.ah-portfolio-big.ah-portfolio-big__opened .ah-portfolio-big--inner-wrapper {
    display: block;
}
.ah-portfolio-big.ah-portfolio-big__opening .ah-portfolio-big--inner-wrapper {
    display: block;
}

.ah-portfolio-big .ah-portfolio--page{
    padding-bottom: 0;
}

.ah-portfolio-big .ah-portfolio--list-wrapper{
    overflow-y: visible;
    margin: 0 auto;
    width: 100%;
}

.ah-portfolio-big--pages-scrollview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.ah-portfolio-big .ah-portfolio--text-wrapper{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.ah-portfolio-big .ah-portfolio--list-wrapper{
    touch-action: initial;
    user-select: initial;
    -webkit-user-drag: initial;
    flex: initial;
}

/** STYLING */
.ah-portfolio-big--pages{
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 15px 50px rgba(0,0,0,0.3);
}