@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.ah-portfolio--sideview{
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.7em;
}

.ah-portfolio--sideview .ah-portfolio--page{
    background-color: #FFF;
}

.ah-portfolio--sideview p{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
}

.ah-portfolio--sideview p + p{
    margin-top: 20px;
}

.ah-portfolio--sideview h1{
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 10px;
    font-family: "Roboto Slab", sans-serif;
}
.ah-portfolio--sideview .ah-portfolio--visit-btn{
    background-color: #333;
    color: white;
    border: 0;
    font-size: 1.2em;
    padding: 30px 50px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
.ah-portfolio--sideview .ah-tech-icon--img-wrapper{
    background-color: #f3f3f3;
}
.ah-portfolio--sideview .ah-tech-icon label{
    color: #666666;
}

.ah-portfolio--sideview .ah-slideshow--crumb__active{
    background-color: #333;
}
.ah-portfolio--sideview .ah-slideshow--crumb {
    border: 2px solid #333;
}

.ah-portfolio--sideview .ah-portfolio--media-wrapper{
    border: 1px solid #ccc;
    border-left:0;
    border-right:0;
    background-color: rgba(0,0,0,0.1);
}


/** 
* Big Portfolio Customizations
*/
.ah-portfolio--sideview .ah-portfolio-big--inner-wrapper{
    background-color: rgba(242, 242, 242, 0.51);
}

.ah-portfolio--sideview .ah-portfolio-big--pages{
    background-color: #fff;
}

.ah-portfolio--sideview.ah-portfolio-big .ah-slide-page__panning{
    background-color: #fff;
}

.ah-portfolio--sideview .ah-portfolio-big--pages{
    border: 11px solid rgba(255,255,255,1);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.3);
}

.ah-portfolio--sideview .ah-portfolio-big--inner-wrapper .ah-portfolio--logo{
    width: 500px;
}