.ah-portfolio--shappy{
    font-family: "Roboto", sans-serif;
    color: #f6f6f6;
    line-height: 1.7em;
}

.ah-portfolio--shappy .ah-portfolio--page{
    background-color: #555554;
}

.ah-portfolio--shappy p{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
}

.ah-portfolio--shappy p + p{
    margin-top: 20px;
}

.ah-portfolio--shappy h1{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 10px;
    font-family: "Roboto Slab", sans-serif;
}

.ah-portfolio--shappy .ah-tech-icon{
    font-size: 0.8em;
    color: #ccc;
}

.ah-portfolio--shappy .ah-portfolio--visit-btn{
    color: #7cddd1;
    border: 2px solid #7cddd1;
    padding: 10px 25px;
    border-radius: 100px;
    font-family: "Roboto Slab", sans-serif;
    text-decoration: none;
}

.ah-portfolio--shappy .ah-portfolio__open .ah-portfolio-big--pages-scrollview{
    background-color: #555554;
}

.ah-portfolio--shappy .ah-portfolio--media-wrapper{
    border: 1px solid #333;
    border-left:0;
    border-right:0;
    background-color: #424241;
}

.ah-portfolio--shappy .ah-portfolio-big--pages{
    background-color: #555554;
}



/** 
* Big Portfolio Customizations
*/
.ah-portfolio--shappy .ah-portfolio-big--inner-wrapper{
    background-color: rgba(67, 67, 65, 0.51);
}

.ah-portfolio--shappy .ah-portfolio-big--pages{
    background-color: #555554;
}

.ah-portfolio--shappy.ah-portfolio-big .ah-slide-page__panning{
    background-color: #555554;
}

.ah-portfolio--shappy .ah-portfolio-big--inner-wrapper .ah-portfolio--logo{
    width: 400px;
}