@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.ah-portfolio--qudini{
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    line-height: 1.2em;
}

.ah-portfolio--qudini .ah-portfolio--page{
    background-color: #bf3942;
}

.ah-portfolio--qudini p{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.ah-portfolio--qudini p + p{
    margin-top: 20px;
}

.ah-portfolio--qudini h1{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
}

.ah-portfolio--qudini .Typo-ul li{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: "Ubuntu", sans-serif;
    background-image: url('../images/qudini-list-point.svg');
}

.ah-portfolio--qudini .ah-portfolio--visit-btn{
    background-color: #a3353c;
    color: white;
    border: none;
    font-family: "Ubuntu", sans-serif;
    padding: 20px;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 50px;
}

.ah-portfolio--qudini .ah-portfolio--media-wrapper{
    border: 1px solid rgba(0,0,0,0.5);
    border-left:0;
    border-right:0;
    background-color: rgba(0,0,0,0.2);
}



/** 
* Big Portfolio Customizations
*/
.ah-portfolio--qudini .ah-portfolio-big--inner-wrapper{
    background-color: rgba(136, 19, 27, 0.52);
}

.ah-portfolio--qudini .ah-portfolio-big--pages{
    background-color: #bf3942;
}

.ah-portfolio--qudini.ah-portfolio-big .ah-slide-page__panning{
    background-color: #bf3942;
}

.ah-portfolio--qudini .ah-portfolio-big--inner-wrapper .ah-portfolio--logo{
    width: 300px;
}