/** 
 * Contains the structural layout for the portfolio
 */

.ah-portfolio{
    font-family: "Rubik", sans-serif;
    margin-bottom: 100vh;
}

.ah-portfolio:last-child{
    margin-bottom: 0;
}

.ah-portfolio-small{
    position: relative;
    height: 90vh;
    overflow: hidden;
    width: 100%;
}

.ah-portfolio--page{

    background-color: #002855;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.ah-portfolio--sideview p + p{
    margin-top: 20px;
}

.ah-portfolio--visit-btn{
    margin-top: 20px;
    display: block;
    text-align: center;
}

.ah-portfolio--splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ah-portfolio--splash-page > img:active{
    transition-duration: 0.2s;
    transform: scale(1);
}

.ah-slide-page:not(.ah-slide-page__panning) > .ah-portfolio--splash-page{
    background: none;
    background-color: transparent;
}

.ah-portfolio--logo{
    max-width: 300px;
}

.ah-portfolio--text-wrapper{
    padding: 20px;
    line-height: 1.6em;
    width: 100%;
    box-sizing: border-box;
}

.ah-portfolio--list-wrapper{
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    overflow-y: auto;
    flex:1;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.1);
    max-width: 610px;
    padding: 10px 20px;
    border-radius: 5px;
    min-height: 150px;
}
.ah-portfolio--list-inner-wrapper{
    max-width: 650px;
    margin: 0 auto;
}

.ah-portfolio--section-header{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1em;
    color: #a9c1d9;
}

.ah-portfolio--section-header-label{
    margin-right: 10px;
}

.ah-portfolio--section-header-line{
    width: 100%;
}

.ah-portfolio--section-header-line path{
    stroke-opacity: 0.5;
    stroke: #a9c1d9;
}

.ah-portfolio--quote-section{
    padding: 20px;
}

.ah-portfolio--quote-section .ah-portfolio--inner-wrapper{
    padding: 20px;
}

.ah-portfolio--offset-section{
    padding: 20px;
}

.ah-portfolio--offset-section .ah-portfolio--inner-wrapper{
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 4px;
}

.ah-section--vbox{
    display: flex;
    flex-direction: column;
}

.ah-section--fill{
    flex-grow: 1;
    flex-shrink: 1;
}

.ah-section--vcenter{
    align-items: center;
}

.ah-section--vbox.ah-section--vcenter{
    justify-content: center;
}

.ah-portfolio--media-wrapper{
    display:flex;
    flex-direction: column;
}

.ah-portfolio--media-wrapper .ah-portfolio--inner-wrapper{
    width: 100%;
    flex: 1;
    position: relative;
    box-sizing: border-box;
}

@media(min-height: 0px) and (max-height: 560px){
    .ah-portfolio{
        font-size: 15px;
    }
}