.ah-slideshow{
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.ah-slideshow--crumbs{
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ah-slideshow--crumb{
    border-radius: 20px;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.3);
}

.ah-slideshow--loading-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ah-slideshow--splash-page__normal .ah-slideshow--loading-page{
    opacity: 0;
}

.ah-slideshow--crumb__active{
    background-color: rgba(255,255,255,0.7);
}

.ah-slideshow--splash-page__fade-out{
    transition: opacity 0.5s ease-out;
    opacity: 0;
}